# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environment
.env
venv/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

/audio

# Test outputs
htmlcov/
coverage.xml

# Others
*.sqlite3
*.db

# Jupyter
.ipynb_checkpoints/

# Node
node_modules/

# Backup
*.bak
*.swp
*.swo
# Audio files
.*.mp3
*.wav