networks:
  app-network:
    driver: bridge

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pilot_compliance_app
    expose:
      - '8000'
    env_file:
      - .env
    networks:
      - app-network
    volumes:
      - ./chroma_db_data:/app/chroma_db_data
      - ./temp_uploads:/app/temp_uploads

  nginx:
    image: nginx:alpine
    container_name: nginx_proxy_pilot_compliance
    ports:
      - '0.0.0.0:8089:80'
    networks:
      - app-network
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app